
<div class="container-fluid mt-4">
    <div class="row align-middle justify-content-center">  
      
      <div class="col-md-9 mb-3 align-self-center">
        <h1 class="d-inline">Seznam uživatelů</h1>
      </div>

      <div class="col-md-3 mb-4 align-self-center">
        <a [routerLink]="['/new-ticket']" routerLinkActive="router-link-active"  class="btn btn-primary active d-block" role="button" aria-pressed="true">Přidat uživatele</a>
      </div>

  </div>



<div class="card shadow">
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Jméno a příjmení</th>
            <th scope="col">Zastupuje role</th>
            <th scope="col" class="text-center">V běhu</th>
            <th scope="col" class="text-center">Ve frontě</th>
            <th scope="col" class="text-center">Smazat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>
                  <a routerLinkActive="" [routerLink]="" class="">Josef Novák</a> 
                </td>
            <td>
              Zadavatel, Řešitel
            </td>
            <td class="text-center">
              10
            </td>
            <td class="text-center">
              12
            </td>
            <td class="text-center">
                X
              </td>
          </tr>
          <tr>
              <td>
                  <a routerLinkActive="" [routerLink]="" class="">Marek Novotný</a> 
                </td>
            <td>
              Zadavatel, Řešitel
            </td>
            <td class="text-center">
              50
            </td>
            <td class="text-center">
              11
            </td>
            <td class="text-center">
                X
              </td>
          </tr>
          <tr>
              <td>
                  <a routerLinkActive="" [routerLink]="" class="">Petr Novák</a> 
                </td>
            <td>
              Řešitel
            </td>
            <td class="text-center">
              6
            </td>
            <td class="text-center">
              1
            </td>
            <td class="text-center">
                X
              </td>
          </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>